@inherits DraggableComponent
@inject ILogger<XrpTable> logger;
@using Microsoft.Extensions.Logging;
@using static ReportEditor.Models.DraggableComponentModel


    <div id="@Model.ID" draggable="@Draggable" style="@Model.GetRectStyle()" class="@StyleClass"
           @ondragenter="OnDragEnter"
           @ondragenter:stopPropagation
           @ondragleave="OnDragLeave"
           @ondragleave:stopPropagation
           @ondragstart="OnDragStart"
           @ondragstart:stopPropagation
           @onmouseover="OnMouseOver"
           @onmouseover:stopPropagation
           @onclick="OnClick"
           @onclick:stopPropagation
           @onmousedown="OnMouseDown"
           @onmousedown:stopPropagation
           @onmouseup="OnMouseUp"
           @onmouseup:stopPropagation>

        @foreach (var row in ExtendedModel.Rows)
        {
        <div class="xrp2-row" style="height:@string.Format("{0}px",row.RowHeight);">
            @foreach (var cell in row.Cells)
            {
            <div class="xrp2-col" style="width:@string.Format("{0}px", ExtendedModel.Cols[cell.ColIndex].ColWidth);height:@string.Format("{0}px",row.RowHeight);">
                <DraggableComponent Model="@cell.Model" />
            </div>
            }
        </div>
        }
    </div>

@code {
    public TableComponentModel ExtendedModel;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        ExtendedModel = Model as TableComponentModel;
    }
}
