@inherits DraggableComponent
@inject ILogger<XrpTable> logger;
@using Microsoft.Extensions.Logging;
@using static ReportEditor.Models.DraggableComponentModel


<table id="@Model.ID" draggable="@Draggable" style="@Model.GetRectStyle()" class="@StyleClass"
       @ondragenter="OnDragEnter"
       @ondragenter:stopPropagation
       @ondragleave="OnDragLeave"
       @ondragleave:stopPropagation
       @ondragstart="OnDragStart"
       @ondragstart:stopPropagation
       @onmouseover="OnMouseOver"
       @onmouseover:stopPropagation
       @onclick="OnClick"
       @onclick:stopPropagation
       @onmousedown="OnMouseDown"
       @onmousedown:stopPropagation
       @onmouseup="OnMouseUp"
       @onmouseup:stopPropagation>

    @foreach (var row in ExtendedModel.Rows)
    {
    <tr>
        @foreach (var cell in row.Cells)
        {
        <td class="xrp2-td">
            <DraggableComponent Model="@cell.Model" />
        </td>
        }
    </tr>
    }

</table>

@code {
    public TableComponentModel ExtendedModel;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        ExtendedModel = Model as TableComponentModel;
    }
}
