@inherits DraggableComponent
@inject ILogger<XrpTextBlock> logger;
@using Microsoft.Extensions.Logging;
@using static ReportEditor.Models.DraggableComponentModel


<div id="@Model.ID" draggable="@Draggable" style="@Style" class="@StyleClass"
     @ondragenter="OnDragEnter"
     @ondragenter:stopPropagation
     @ondragleave="OnDragLeave"
     @ondragleave:stopPropagation
     @ondragstart="OnDragStart"
     @ondragstart:stopPropagation
     @onmouseover="OnMouseOver"
     @onmouseover:stopPropagation
     @onclick="OnClick"
     @onclick:stopPropagation
     @onmousedown="OnMouseDown"
     @onmousedown:stopPropagation
     @onmouseup="OnMouseUp"
     @onmouseup:stopPropagation>
    @Model.Text
</div>

@code {

    private TextComponentModel ExtendedModel;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        ExtendedModel = Model as TextComponentModel;
    }

    public override string Style
    {
        get
        {
            string style = ExtendedModel?.GetLocationStyle();
            style += ExtendedModel?.FontStyle;
            return style;
        }
    }


}
